.homepage {
  font-family: cursive;
  color:red;
  box-shadow: 5px black;
}

a {
  transition: all 0.3s ease;
}

a:hover{
  color:red;
  background-color: yellow;
  font-size: 1.2em;
  box-shadow: 2px 2px 5px grey;
  border-color: blue;
}
